*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #09111d;
}
.par{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.ch{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}
.ch span{
    position:relative;
    bottom:30px;
    width: 30px;
    height: 30px;
    background: #008cff;
    box-shadow: 0 0 0 10px #06a53644,
    0 0 50px #fcfcfc,
    -100px 0 #edfd0399,
    100px 0 #ff010199;
    margin: 0 4px;
    border-radius: 60%;
    animation: ani 15s ease infinite;
    animation-duration: calc(125s / var(--i));
}
.ch span:nth-child(even)
{
    background: #ee0303;
    box-shadow: 0 0 0 10px #05e01044,
    0 0 50px #f80158,
    -100px 0 #0fccf799,
    100px 0 #4fc3dc99;
}
@keyframes ani{
    0%{
        transform:translateY(120vh) scale(0) rotate(0deg);
    }
    20%{
        transform:translateY(100vh) scale(1) rotate(0deg);
    }
    100%{
        transform:translateY(-50vh) scale(0.5) rotate(360deg);
    }
}
